* {
  margin: 0;
  padding: 0;
  font-family: 'Alfa Slab One', cursive;
  list-style: none;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

h1 {
  margin: 1rem 0rem;
  font-size: 2rem;
}

p,
li,
span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 100vw;
  max-width: 1500px;
  padding: 4rem 2rem;
}

.navbar {
  width: 95vw;
  max-width: 1500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.nav-lista {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 20rem;
  padding-top: 2rem;
}

#logo a {
  color: black;
  text-decoration: none;
}

.nav-item {
  color: black;
  text-decoration: none;
}

.hero-image {
  height: 65vh;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.hero-image img {
  width: 95vw;
  max-width: 1500px;
}

.main-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 4rem;
}

.aside-div {
  box-shadow: 2px 0px 0px 0 rgb(0, 0, 0);
  width: 25%;
  padding-right: 1.6rem;
}

.btn-finalizar {
  margin-bottom: 2rem;
  background-color: white;
  border-width: 2px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.btn-finalizar:hover {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

.btn-quitar-todo {
  font-size: 0.6rem;
  color: rgba(0, 0, 0, 0.5);
  border-width: 0;
  text-decoration: none;
  box-shadow: none;
  background-color: white;
  margin-top: 1rem;
  cursor: pointer;
}

.btn-quitar-todo:hover {
  border-width: 0 0 2px 0;
  color: black;
}

.container-tarjetas {
  width: 70%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.container-tarjetas h1 {
  width: 100%;
  margin-bottom: 1rem;
}

.tarjeta-normal {
  background-color: rgb(245, 245, 245);
  width: 29%;
  min-width: 12rem;
  height: auto;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  border-radius: 5px;
  margin-bottom: 3rem;
}

.tarjeta-normal img {
  width: 100%;
  margin-bottom: 0.5rem;
}

.tarjeta-precio {
  margin: 1rem 0rem;
}

.tarjeta-normal:hover {
  box-shadow: 0px 5px 7px rgb(222, 222, 222);
}

.btn-add {
  background-color: black;
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 2px;
  border: none;
  padding: 0.5rem 1.5rem;
  text-align: center;
  justify-content: center;
  display: inline-block;
  cursor: pointer;
}

.btn-add:hover {
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.200);
}

#carrito-sub {
  font-weight: 100;
}

.carrito-item,
.carrito-item div {
  display: flex;
  justify-content: space-between;
}

.carrito-item {
  margin: 1rem 0;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

#carrito-borrar-item,
#carrito-restar-item,
#carrito-sumar-item {
  color: rgb(200, 200, 200);
  cursor: pointer;
  margin-right: 0.2rem;
  font-size: 0.8rem;
}

#carrito-borrar-item:hover,
#carrito-restar-item:hover,
#carrito-sumar-item:hover {
  color: black;
}

#carrito-cantidad-item {
  font-size: 0.8rem;
}