* {
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  list-style: none;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

h1 {
  margin: 1rem 0rem;
  font-size: 2rem;
}

p,
span {
  font-family: 'Work Sans', sans-serif;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mt-05 {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.container {
  width: 100vw;
  max-width: 1500px;
  padding: 4rem 2rem;
}

#logo a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.navbar {
  width: 95vw;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-lista {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  /* 
  padding-top: 2rem; */
}

.nav-item {
  color: black;
  text-decoration: none;
}

.hero-image {
  height: 65vh;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.hero-image img {
  width: 95vw;
  max-width: 1500px;
}

.main-div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 4rem;
}

.btn-aplicar-filtro {
  background-color: white;
  border-width: 2px;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
}

.btn-aplicar-filtro:hover {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
}

.btn-quitar-todo {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
  border-width: 0;
  text-decoration: none;
  font-weight: 400;
  box-shadow: none;
  background-color: white;
  cursor: pointer;
}

.btn-quitar-todo:hover {
  border-width: 0 0 2px 0;
  color: black;
}

.container-productos {
  width: 70%;
  display: block;
  flex-flow: column nowrap;
}

#nav-productos {
  background-color: rgb(245, 245, 245);
  margin-bottom: 2rem;
  padding: 1.5rem 5rem;
  display: flex;
  justify-content: space-between;
}

#nav-productos div {
  width: 30%;
  padding-right: 2rem;
  border-right: solid black 2px;
}

#nav-productos li {
  cursor: pointer;
  width: fit-content
}

#nav-productos li:hover {
  color: #b4b4b4;
}

#nav-productos .btn-finalizar {
  margin: 3rem 0;
  padding: 0 2rem;
}

.categoria-seleccionada {
  font-weight: 500;
  padding: 5px 1px;
  border-bottom: solid 2px;
  border-top: solid 2px;
  /* margin-bottom: 10px;
  margin-top: 10px; */
}

/**/

.container-tarjetas {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.tarjeta-normal {
  background-color: rgb(245, 245, 245);
  width: 29%;
  min-width: 12rem;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  border-radius: 5px;
  margin-bottom: 3rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.tarjeta-normal img {
  width: 100%;
  margin-bottom: 0.5rem;
}

.tarjeta-normal:hover {
  box-shadow: 0px 5px 7px rgb(222, 222, 222);
}

.tag-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.tag-container span{
  color: black;
  background-color: #ffe11c;
  font-size: 0.7rem;
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.tarjeta-precio {
  font-size: 1.7rem;
  font-weight: 600;
  max-height: 2rem;
  margin: 1rem 0;
}

.btn-add {
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  padding: 0.5rem 1.5rem;
  text-align: center;
  justify-content: center;
  display: inline-block;
  cursor: pointer;
}

.btn-add:hover {
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.200);
}

.aside-div {
  box-shadow: 2px 0px 0px 0 rgb(0, 0, 0);
  width: 25%;
  padding-right: 1.6rem;
}

.aside-div section {
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
}

.btn-finalizar {
  margin: 2rem 0 0.8rem 0;
  background-color: white;
  border-width: 2px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.btn-finalizar:hover {
  border-color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}


.carrito-item,
.carrito-item div {
  display: flex;
  justify-content: space-between;
}

.carrito-item {
  margin: 1rem 0;
}

#carrito-borrar-item,
#carrito-restar-item,
#carrito-sumar-item {
  color: rgb(200, 200, 200);
  cursor: pointer;
  margin-right: 0.2rem;
  font-size: 0.8rem;
}

#carrito-borrar-item:hover,
#carrito-restar-item:hover,
#carrito-sumar-item:hover {
  color: black;
}

#carrito-cantidad-item {
  font-size: 0.8rem;
}

.meme {
  font-size: 8rem;
  margin: 0;
  padding: 0;
}

#finalizar-bg {
  background-color: rgba(255, 255, 255, 0.800);
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#finalizar-card {
  background-color: white;
  color: black;
  border: 2px black solid;
  border-radius: 5px;
  padding: 2rem;
  display: flex; 
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#descuentovich {
  background-color: rgb(245, 245, 245);
  padding: 1rem 2rem;
}

#descuentovich p {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#descuentovich p span {
  cursor: pointer;
}

.error-descuento {
  color: red;
  border: solid red 2px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.success-descuento {
  color: green;
  border: solid green 2px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.btn-descuento {
  background-color: black;
  color: white;
  padding: 0.1rem 0.7rem;
  border: none;
  letter-spacing: 2px;
}

.btn-descuento:hover {
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.200);
}

#btn-pagar {
  background-color: #ffe11c;
  margin-top: 3rem;
  padding: 0.3rem 2rem;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.8rem;
  border-radius: 5px;
}



/**/

.bg-amarillo {
  background-color: #ffe11c;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}

.envios-info {
  background-color: #ffe11c;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  text-align: center;
}

.envio-div {
  font-weight: 200;
  color: black;
  font-size: 0.8rem;
}

.center {
  display: block;
  text-align: center;
}

.circulo-amarillo {
  padding: 0.4rem 0.8rem;
  background-color: #ffe11c;
  color: black;
  font-size: 1rem;
  border: none;
  border-radius: 50%;
  text-align: center;
}

.btn-fav {
  border: none;
  color: #b4b4b4;
  font-size: 1.4rem;
}

.flex-sa {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0 2.5rem;
}

.mod-item-div {
  width: 3rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.filtro-precio {
  padding: 0.1rem 0.5rem;
  width: 5rem;
}

